{
  "hosting": {
    "public": "build/public",
    "ignore": [
      "firebase.json",
      "**/.*",
      "**/node_modules/**"
    ],
    "rewrites": [
      {
        "source": "**/**",
        "function": "changelog"
      }
    ]
  },
  "functions": {
    "source": "."
  }
}
