.add-reaction-emoji {
  fill: rgb(88, 96, 105);
  stroke: rgb(88, 96, 105);
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.add-reaction-emoji:hover {
  fill: #0366d6;
  stroke: #0366d6;
}
