.gif-player {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.gif-player .play-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px dashed #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 0.4s, opacity 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.gif-player .play-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.7);
}
.gif-player .play-button::after {
  content: "GIF";
}
.gif-player.playing .play-button {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
  opacity: 0.5;
}
.gif-player img {
  max-width: 100%;
}
